* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;

}

body {
    background: rgb(221, 221, 221);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    text-align: center;
    width: 90%;
}


span {
    color: rgb(66, 126, 196);

}

hr {
    margin: 10px 0;
    border-top: 3px solid #bbb;
    border-radius: 5px;
}

.container {
    border: 1 solid #ccc;
    border-radius: 10;
    padding: 20;
    background: #fff;
    max-width: 450px;
    min-height: 300px;
}

.group-form {
    padding: 5px 0;

}

.group-form label{
    font-weight: 5px;
}